# Terraform related files. 
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Virtual environment.
venv/

# Environment variables files.
.env/

# PostgreSQL persistent data path.
data/