version: '3'
services:
  postgres-db:
    container_name: devnet-db
    image: postgres:15.1-alpine
    ports:
      - 5432:5432
    networks:
      devnet-app-network:
        aliases:
          - db-host
    env_file:
      - .env/App_Vars.env
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    container_name: devnet-backend
    image: devnet-backend
    ports:
      - 8080:8080
    networks:
      devnet-app-network:
        aliases:
          - backend-host
    depends_on:
      - postgres-db
    build:
      context: backend/
      dockerfile: Dockerfile
    env_file:
      - .env/App_Vars.env
    restart: always

  frontend:
    container_name: devnet-frontend
    image: devnet-frontend
    stdin_open: true
    ports:
      - 80:3000
    networks:
      devnet-app-network:
        aliases:
          - frontend-host
    depends_on:
      - backend
    build:
      context: frontend/
      dockerfile: Dockerfile
    env_file:
      - .env/App_Vars.env

networks:
  devnet-app-network:
    name: devnet-app-net
    driver: bridge
    ipam:
      driver: default

volumes:
  postgres-data:
    driver: local
